img {
  height: 200px;
  margin-bottom: 25px;
}

#lezioni, #steps, #why{
  text-align: center;
  padding: 50px 0;
}

#steps{
  margin: 50px 0;
}

#why .row {
  margin-top: 50px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

#why hr{
  margin-top: 25px;
}

.grey {
  background-color: #f9f9f9;
}

#lezioni [class*=col-],
#steps [class*=col-] {
  margin-top: 50px;
}

#steps [class*=col-]{
  padding: 0 15px;
}
